html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, cite, img, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0 none;margin:0;padding:0;line-height:135%} th, td{text-align:left;vertical-align:top} * a{cursor:pointer} a img, *:link img, *:visited img{border:0 none} h1, h2, h3, h4, h5, h6{font-weight:normal} ul{list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0} table{border-collapse:collapse;border-spacing:0;border:0 none} blockquote:before, blockquote:after{content:""}

html, body{font-family:arial;font-size:12px;height: 100%;width:100%;background:#d3d3d3;color:#5E5E5E;min-width:960px;}
a{color:#5E5E5E}
a:hover{text-decoration:none;}
.inner{margin:auto;width:960px;}

.wrapper{min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -60px;}
.push, .footer{height:60px;}
.clr { float: none; clear: both; margin: 0; padding: 0; border: none; font-size: 1px; }